<html>
  <head>
    <title>MyServlet Admin</title>
    <meta name="decorator" content="atl.general">
  </head>
  <body>
    <form id="admin" class="aui" action="" method="POST">
        <div class="field-group">
             <label for="name">Name:</label>
             <input type="text" id="name" name="name" class="text" value="$name">
        </div>
        <div class="field-group">
             <label for="age">Age:</label>
             <input type="text" id="age" name="age" class="text"  value="$age">
        </div>
        <div class="field-group">
            <input type="submit" value="Save" class="button">
        </div>

        #foreach ($user in $users)
        <p>$user.getDisplayName()</p>
        #end

        #foreach ($issue in $issues)
        <p>$issue</p>
        #end
    </form>
  </body>
</html>